.Example {
  margin-bottom: 10px;
}
.Example:last-child {
  margin-bottom: 0;
}
.ExampleContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 50px;
  width: 100%;
}
.ExampleComponent {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
  padding: 5px;
  padding-top: 0;
}
.ExampleComponentTitle {
  padding: 5px;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.ExampleComponentPreview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.ExampleComponentProperties {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 5px;
}
.ExampleComponentProperties table {
  width: 100%;
  font-size: 12px;
}

.Example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ExampleMenu {
  min-width: 240px;
}

.ExampleTable {
  min-width: 100%;
}

.ExampleSchemaForm label {
  margin: 0;
  padding: 0;
}

[data-example="HTMLTable"] .ExampleComponentPreview table {
  min-width: 100%;
}

[data-example="Tab"] .Example {
  width: 80%;
  height: 80%;
  background: #1d2229;
  display: block;
  padding: 10px;
  min-height: 200px;
}

.ExampleComponentProperties table tr th,
.ExampleComponentProperties table tr td {
  vertical-align: middle;
}

.ExampleComponentCode {
  border: 1px solid #007eff;
}
.ExampleComponentCode pre {
  font-size: 11px;
  background: #1f242c;
  margin-bottom: 0;
}

/* theme */
.ExampleComponent {
  background: #ffffff;
}
.ExampleComponentTitle {
  background: #ffffff;
}
.ExampleComponentProperties {
  background-color: #edeff2;
}

.bp4-dark .ExampleComponent {
  background: #252a31;
}
.bp4-dark .ExampleComponentTitle {
  background: #252a31;
}
.bp4-dark .ExampleComponentProperties {
  background-color: #1f242c;
}
