.Example {
  margin-bottom: 10px;
}
.Example:last-child {
  margin-bottom: 0;
}
.ExampleContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 50px;
  width: 100%;
}
.ExampleComponent {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
}
.ExampleComponentTitle {
  padding: 5px;
  margin: 0;
  background: #1f242c;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.ExampleComponentPreview {
  display: flex;
  flex-direction: column;
  background: #252a31;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.ExampleComponentProperties {
  display: flex;
  background-color: #1f242c;
  flex-direction: column;
  width: 340px;
  padding: 5px;
}
.ExampleComponentProperties table {
  width: 100%;
}

.Example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ExampleMenu {
  min-width: 240px;
}

.ExampleTable {
  min-width: 100%;
}

.ExampleSchemaForm label {
  margin: 0;
  padding: 0;
}

[data-example="HTMLTable"] .ExampleComponentPreview table {
  min-width: 100%;
}
