html,
body {
  margin: 0;
  padding: 0;
}

.bp5-button {
  user-select: none;
}
.bp5-collapse {
  height: 0;
  transition: min-height 0.5s ease-in-out;
}
.bp5-collapse-open {
  height: auto;
  transition: min-height 0.5s ease-in-out;
}
